---
http_interactions:
- request:
    method: post
    uri: http://run.shareprogress.org/api/v1/buttons/update?key=<API_KEY>
    body:
      encoding: UTF-8
      string: advanced_options=&page_url=http%3A%2F%2Fact.sumofus.org%2Fsign%2FWhat_Fast_Track_Means_infographic%2F&button_template=sp_fb_large
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1440521952'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4b9ab472bd5b2a7d2ff5a5647de92a88"'
    body:
      encoding: UTF-8
      string: '{"success":true,"response":[{"id":15389,"page_url":"http://act.sumofus.org/sign/What_Fast_Track_Means_infographic/","page_title":"What
        Fast Track Means | SumOfUs.org","button_template":"sp_fb_large","share_button_html":"\u003Cdiv
        class=''sp_15389 sp_fb_large'' \u003E\u003C/div\u003E","found_snippet":true,"is_active":false,"variants":{"facebook":[],"email":[],"twitter":[]},"advanced_options":{"automatic_traffic_routing":null,"buttons_optimize_actions":null,"customize_params":null,"id_pass":null}}],"message":null}'
  recorded_at: Tue, 25 Aug 2015 16:58:50 GMT
recorded_with: VCR 2.9.3
