---
http_interactions:
- request:
    method: post
    uri: http://run.shareprogress.org/api/v1/buttons/update?key=<API_KEY>
    body:
      encoding: UTF-8
      string: id=152&button_template=sp_fb_large&page_url=http%3A%2F%2Fact.sumofus.org%2Fsign%2FWhat_Fast_Track_Means_infographic%2F&variants[email][][email_subject]=&variants[email][][email_body]=You%20won%27t%20belive%20this%20%7BLINK%7D&variants[email][][id]=1&variants[email][][_destroy]=true
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1454021322'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6fb6c6982a5075f9e240fa57967e8e91"'
    body:
      encoding: UTF-8
      string: '{"success":true,"response":[{"id":148338,"page_url":"http://act.sumofus.org/sign/What_Fast_Track_Means_infographic/","page_title":"What
        Fast Track Means | SumOfUs.org","button_template":"sp_fb_large","share_button_html":"\u003Cdiv
        class=''sp_148338 sp_fb_large'' \u003E\u003C/div\u003E","found_snippet":true,"is_active":false,"variants":{"facebook":[],"email":[],"twitter":[]},"advanced_options":{"automatic_traffic_routing":"true","buttons_optimize_actions":"true","customize_params":{"param":"source","e":"mlt","f":"fb","t":"tw","o":"c2c"},"id_pass":{"id":"id","passed":"referrer_id"}}}],"message":null}'
  recorded_at: Thu, 28 Jan 2016 22:47:43 GMT
recorded_with: VCR 3.0.1
