---
http_interactions:
- request:
    method: get
    uri: http://run.shareprogress.org/api/v1/buttons/read?id=999999999&key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1440526857'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"Can''t find that Buttons","response":[]}'
  recorded_at: Tue, 25 Aug 2015 18:20:32 GMT
recorded_with: VCR 2.9.3
