---
http_interactions:
- request:
    method: get
    uri: http://run.shareprogress.org/api/v1/buttons?key=<API_KEY>&limit=100&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1440521952'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"734eb34aca7baa7db7aae0b2ef156dd7"'
    body:
      encoding: UTF-8
      string: '{"success":true,"response":[{"id":15388,"page_url":"http://act.sumofus.org/sign/What_Fast_Track_Means_infographic/","page_title":"What
        Fast Track Means | SumOfUs.org","button_template":"sp_fb_large","share_button_html":"\u003Cdiv
        class=''sp_15388 sp_fb_large'' \u003E\u003C/div\u003E","is_active":false},{"id":15387,"page_url":"http://act.sumofus.org/sign/What_Fast_Track_Means_infographic/","page_title":"What
        Fast Track Means | SumOfUs.org","button_template":"sp_fb_large","share_button_html":"\u003Cdiv
        class=''sp_15387 sp_fb_large'' \u003E\u003C/div\u003E","is_active":false},{"id":15386,"page_url":"http://act.sumofus.org/sign/What_Fast_Track_Means_infographic/","page_title":"What
        Fast Track Means | SumOfUs.org","button_template":"sp_fb_large","share_button_html":"\[...]
