---
http_interactions:
- request:
    method: post
    uri: http://run.shareprogress.org/api/v1/buttons/delete?id=99999&key=<API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1440617719'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"Can''t find that Buttons","response":[]}'
  recorded_at: Wed, 26 Aug 2015 19:34:56 GMT
recorded_with: VCR 2.9.3
