---
http_interactions:
- request:
    method: post
    uri: http://run.shareprogress.org/api/v1/buttons/delete?id=15405&key=<API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1440617719'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"145dcd7c9ef7d3e68a6749759fe2e475"'
    body:
      encoding: UTF-8
      string: '{"success":true,"response":[{"id":15405,"page_url":"http://act.sumofus.org/sign/What_Fast_Track_Means_infographic/","page_title":"What
        Fast Track Means | SumOfUs.org","button_template":"sp_fb_large","share_button_html":"\u003Cdiv
        class=''sp_15405 sp_fb_large'' \u003E\u003C/div\u003E","is_active":false}],"message":null}'
  recorded_at: Wed, 26 Aug 2015 19:35:56 GMT
recorded_with: VCR 2.9.3
