---
http_interactions:
- request:
    method: get
    uri: http://run.shareprogress.org/api/v1/buttons/read?id=15887&key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1442450779'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"515217e7a8fd3f350985bbc7eb8959dd"'
    body:
      encoding: UTF-8
      string: '{"success":true,"response":[{"id":15887,"page_url":"http://act.sumofus.org/sign/What_Fast_Track_Means_infographic/","page_title":"What
        Fast Track Means | SumOfUs.org","button_template":"sp_fb_large","share_button_html":"\u003Cdiv
        class=''sp_15887 sp_fb_large'' \u003E\u003C/div\u003E","found_snippet":true,"is_active":false,"variants":{"facebook":[{"id":65846,"facebook_title":null,"facebook_description":null,"facebook_thumbnail":null}],"email":[{"id":65845,"email_subject":null,"email_body":null}],"twitter":[{"id":65847,"twitter_message":null}]},"advanced_options":{"automatic_traffic_routing":"true","buttons_optimize_actions":null,"customize_params":null,"id_pass":{"id":"id","passed":"referrer_id"}}}],"message":null}'
  recorded_at: Thu, 17 Sep 2015 00:46:43 GMT
recorded_with: VCR 2.9.3
