---
http_interactions:
- request:
    method: post
    uri: http://run.shareprogress.org/api/v1/buttons/update?key=<API_KEY>
    body:
      encoding: UTF-8
      string: page_url=http%3A%2F%2Fact.sumofus.org%2Fsign%2FWhat_Fast_Track_Means_infographic%2F&button_template=sp_fb_large
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1440624627'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"09171772ca4bccf0bf6c4d19427f43d5"'
    body:
      encoding: UTF-8
      string: '{"success":true,"response":[{"id":15514,"page_url":"http://act.sumofus.org/sign/What_Fast_Track_Means_infographic/","page_title":"What
        Fast Track Means | SumOfUs.org","button_template":"sp_fb_large","share_button_html":"\u003Cdiv
        class=''sp_15514 sp_fb_large'' \u003E\u003C/div\u003E","found_snippet":true,"is_active":false,"variants":{"facebook":[],"email":[],"twitter":[]},"advanced_options":{"automatic_traffic_routing":"true","buttons_optimize_actions":null,"customize_params":null,"id_pass":{"id":"id","passed":"referrer_id"}}}],"message":null}'
  recorded_at: Wed, 26 Aug 2015 21:30:06 GMT
- request:
    method: post
    uri: http://run.shareprogress.org/api/v1/buttons/delete?id=15514&key=<API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1440624624'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3483f5f5438dd3f749144c3d80bafd48"'
    body:
      encoding: UTF-8
      string: '{"success":true,"response":[{"id":15514,"page_url":"http://act.sumofus.org/sign/What_Fast_Track_Means_infographic/","page_title":"What
        Fast Track Means | SumOfUs.org","button_template":"sp_fb_large","share_button_html":"\u003Cdiv
        class=''sp_15514 sp_fb_large'' \u003E\u003C/div\u003E","is_active":false}],"message":null}'
  recorded_at: Wed, 26 Aug 2015 21:30:07 GMT
recorded_with: VCR 2.9.3
