---
http_interactions:
- request:
    method: post
    uri: http://run.shareprogress.org/api/v1/buttons/update?key=<API_KEY>
    body:
      encoding: UTF-8
      string: id=15543&variants[email][][email_subject]=&variants[email][][email_body]=You%20won't%20belive%20this%20%7BLINK%7D&variants[email][][id]=
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1440790059'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"fa936d3a3e72b274bb663be38baf2db2"'
    body:
      encoding: UTF-8
      string: '{"success":true,"response":[{"id":15543,"page_url":"http://act.sumofus.org/sign/What_Fast_Track_Means_infographic/","page_title":"What
        Fast Track Means | SumOfUs.org","button_template":"sp_fb_large","share_button_html":"\u003Cdiv
        class=''sp_15543 sp_fb_large'' \u003E\u003C/div\u003E","found_snippet":true,"is_active":true,"variants":{"facebook":[{"id":64167,"facebook_title":null,"facebook_description":null,"facebook_thumbnail":null},{"id":64169,"facebook_title":"","facebook_description":"","facebook_thumbnail":""},{"id":64170,"facebook_title":"go
        bernie","facebook_description":";)","facebook_thumbnail":"And lo, as the dew
        fell and the woodland critters retreated into their burrows, a great hush
        fell upon the forest - TRANQUILITY TURNT UP 100%. And lo, as the dew fell
        and the woodland critters retreated into their burrows, a great hush fell
        upon the forest - TRANQUILITY TURNT UP [...]
