---
http_interactions:
- request:
    method: post
    uri: http://run.shareprogress.org/api/v1/buttons/update?key=<API_KEY>
    body:
      encoding: UTF-8
      string: id=152&button_template=sp_fb_large&page_url=http%3A%2F%2Fact.sumofus.org%2Fsign%2FWhat_Fast_Track_Means_infographic%2F&variants[twitter][][twitter_message]=%40bernie2016%20%3C3%20%3C3%20%3C3%20%7BLINK%7D&variants[twitter][][id]=2
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '26'
      X-Ratelimit-Reset:
      - '1454021483'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f2ddbb6d6dfc933ad8b401fd1840e396"'
    body:
      encoding: UTF-8
      string: '{"success":true,"response":[{"id":148346,"page_url":"http://act.sumofus.org/sign/What_Fast_Track_Means_infographic/","page_title":"What
        Fast Track Means | SumOfUs.org","button_template":"sp_fb_large","share_button_html":"\u003Cdiv
        class=''sp_148346 sp_fb_large'' \u003E\u003C/div\u003E","found_snippet":true,"is_active":false,"variants":{"facebook":[],"email":[],"twitter":[{"id":467230,"twitter_message":"@bernie2016
        \u003C3 \u003C3 \u003C3 {LINK}"}]},"advanced_options":{"automatic_traffic_routing":"true","buttons_optimize_actions":"true","customize_params":{"param":"source","e":"mlt","f":"fb","t":"tw","o":"c2c"},"id_pass":{"id":"id","passed":"referrer_id"}}}],"message":null}'
  recorded_at: Thu, 28 Jan 2016 22:50:31 GMT
recorded_with: VCR 3.0.1
