---
http_interactions:
- request:
    method: post
    uri: http://run.shareprogress.org/api/v1/buttons/update?key=<API_KEY>
    body:
      encoding: UTF-8
      string: id=15543&variants[facebook][][facebook_title]=And%20lo%2C%20as%20the%20dew%20fell%20and%20the%20woodland%20critters%20retreated%20into%20their%20burrows%2C%20a%20great%20hush%20fell%20upon%20the%20forest%20-%20TRANQUILITY%20TURNT%20UP%20100%25&variants[facebook][][facebook_description]=%3B)&variants[facebook][][facebook_thumbnail]=&variants[facebook][][id]=
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1440787168'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"289fdf1c71abac4e42992b7a46cda6a8"'
    body:
      encoding: UTF-8
      string: '{"success":false,"response":[{"id":15543,"page_url":"http://act.sumofus.org/sign/What_Fast_Track_Means_infographic/","page_title":"What
        Fast Track Means | SumOfUs.org","button_template":"sp_fb_large","share_button_html":"\u003Cdiv
        class=''sp_15543 sp_fb_large'' \u003E\u003C/div\u003E","found_snippet":true,"is_active":true,"variants":{"facebook":[{"id":64167,"facebook_title":null,"facebook_description":null,"facebook_thumbnail":null},{"id":64169,"facebook_title":"","facebook_description":"","facebook_thumbnail":""}],"email":[{"id":64166,"email_subject":null,"email_body":null}],"twitter":[{"id":64168,"twitter_message":null}]},"advanced_options":{"automatic_traffic_routing":"true","buttons_optimize_actions":null,"customize_params":null,"id_pass":{"id":"id","passed":"referrer_id"}}}],"message":{"variants":[["facebook_title
        is longer than 100 characters"]]}}'
  recorded_at: Fri, 28 Aug 2015 18:39:11 GMT
recorded_with: VCR 2.9.3
