---
http_interactions:
- request:
    method: get
    uri: http://run.shareprogress.org/api/v1/buttons?key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1440459836'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c28189d7c996c0e14bb8e39c6c3982e4"'
    body:
      encoding: UTF-8
      string: '{"success":true,"response":[{"id":15381,"page_url":"http://act.sumofus.org/sign/What_Fast_Track_Means_infographic/","page_title":"What
        Fast Track Means | SumOfUs.org","button_template":"sp_fb_large","share_button_html":"\u003Cdiv
        class=''sp_15381 sp_fb_large'' \u003E\u003C/div\u003E","is_active":false},{"id":15380,"page_url":"http://act.sumofus.org/sign/What_Fast_Track_Means_infographic/","page_title":"What
        Fast Track Means | SumOfUs.org","button_template":"sp_fb_large","share_button_html":"\u003Cdiv
        class=''sp_15380 sp_fb_large'' \u003E\u003C/div\u003E","is_active":false},{"id":15246,"page_url":"http://www.callforthereef.org/?sub=tw","page_title":"Call
        Hunt Twitter button ","button_template":"sp_tw_large","share_button_html":"\u003Cdiv
        class=''sp_15246 s[...]
