---
http_interactions:
- request:
    method: post
    uri: http://run.shareprogress.org/api/v1/buttons/update?key=<API_KEY>
    body:
      encoding: UTF-8
      string: id=152&button_template=sp_fb_large&page_url=http%3A%2F%2Fact.sumofus.org%2Fsign%2FWhat_Fast_Track_Means_infographic%2F&variants[facebook][][facebook_title]=go%20bernie&variants[facebook][][facebook_description]=%3B%29&variants[facebook][][facebook_thumbnail]=&variants[facebook][][id]=3&variants[facebook][][_destroy]=true
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1454021325'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"992247761b177859856dd950a638775f"'
    body:
      encoding: UTF-8
      string: '{"success":true,"response":[{"id":148340,"page_url":"http://act.sumofus.org/sign/What_Fast_Track_Means_infographic/","page_title":"What
        Fast Track Means | SumOfUs.org","button_template":"sp_fb_large","share_button_html":"\u003Cdiv
        class=''sp_148340 sp_fb_large'' \u003E\u003C/div\u003E","found_snippet":true,"is_active":false,"variants":{"facebook":[],"email":[],"twitter":[]},"advanced_options":{"automatic_traffic_routing":"true","buttons_optimize_actions":"true","customize_params":{"param":"source","e":"mlt","f":"fb","t":"tw","o":"c2c"},"id_pass":{"id":"id","passed":"referrer_id"}}}],"message":null}'
  recorded_at: Thu, 28 Jan 2016 22:47:46 GMT
recorded_with: VCR 3.0.1
