---
http_interactions:
- request:
    method: post
    uri: http://run.shareprogress.org/api/v1/buttons/update?key=<API_KEY>
    body:
      encoding: UTF-8
      string: id=15543&variants[facebook][][facebook_title]=go%20bernie&variants[facebook][][facebook_description]=%3B%29&variants[facebook][][facebook_thumbnail]=&variants[facebook][][id]=3&variants[facebook][][_destroy]=true
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '26'
      X-Ratelimit-Reset:
      - '1454008796'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"433fb96f25dcb701d453477dc235d6e7"'
    body:
      encoding: UTF-8
      string: '{"success":false,"response":[{"id":15543,"page_url":"http://act.sumofus.org/sign/What_Fast_Track_Means_infographic/","page_title":"What
        Fast Track Means | SumOfUs.org","button_template":null,"share_button_html":null,"found_snippet":true,"is_active":true,"variants":{"facebook":[{"id":64167,"facebook_title":null,"facebook_description":null,"facebook_thumbnail":null},{"id":64169,"facebook_title":"","facebook_description":"","facebook_thumbnail":""},{"id":64170,"facebook_title":"go
        bernie","facebook_description":";)","facebook_thumbnail":"And lo, as the dew
        fell and the woodland critters retreated into their burrows, a great hush
        fell upon the forest - TRANQUILITY TURNT UP 100%. And lo, as the dew fell
        and the woodland critters retreated into their burrows, a great hush fell
        upon the forest - TRANQUILITY TURNT UP [...]
